# Import Libraries

In [1]:
#import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

In [2]:
from plotly import tools
import plotly.express as px
import plotly.figure_factory as ff

import plotly.graph_objects as go
from plotly.graph_objs import Pie, Layout,Figure
import plotly.offline as pyo
import plotly.express as px
from plotly.offline import download_plotlyjs, init_notebook_mode, plot,iplot

import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
#To print multiple outputs together
from __future__ import print_function

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#Change column display number during print
pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',500)
pd.set_option('display.max_colwidth',-1)

import warnings
warnings.filterwarnings("ignore")

# Loading datasets

In [4]:
custom_data = pd.read_excel('../data/working/Final_invoice_working2.xlsx', sheet_name="custom data", infer_datetime_format=True)

In [6]:
custom_data.info()
custom_data.shape
custom_data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492314 entries, 0 to 492313
Data columns (total 39 columns):
Area / Locality               468423 non-null object
CITY                          492312 non-null object
District                      492314 non-null object
Cust Type                     492314 non-null object
Customer No.                  492314 non-null object
Marital Status                21093 non-null object
Occupation                    12061 non-null object
Regn No                       492298 non-null object
REG_INIT                      492298 non-null object
Date                          492314 non-null datetime64[ns]
mmm-yyyy                      492314 non-null object
FY-Quarter                    492314 non-null object
Quarter                       492314 non-null int64
FY                            492314 non-null object
YTD                           324457 non-null object
Year                          492314 non-null int64
Date_order                    492314 non-null int64
Days                          492314 non-null int64
KMs Reading                   492314 non-null int64
Make                          492314 non-null object
Model                         490789 non-null object
Order Type                    492314 non-null object
Labour Total                  492314 non-null float64
Misc Total                    492314 non-null float64
OSL Total                     492314 non-null float64
Parts Total                   492314 non-null float64
Total Amt Wtd Tax.            492314 non-null float64
Plant                         492314 non-null object
Zone                          492314 non-null object
Population                    492314 non-null object
National Share (%)            492314 non-null float64
Decadal growth (2001–2012)    492314 non-null object
Rural population              492314 non-null int64
Percent rural                 492314 non-null float64
Urban population              492314 non-null int64
Percent urban                 492314 non-null float64
Area                          492314 non-null object
Density                       492314 non-null object
Sex ratio                     492314 non-null int64
dtypes: datetime64[ns](1), float64(8), int64(8), object(22)
memory usage: 146.5+ MB

(492314, 39)

Area / Locality               23891
CITY                          2
District                      0
Cust Type                     0
Customer No.                  0
Marital Status                471221
Occupation                    480253
Regn No                       16
REG_INIT                      16
Date                          0
mmm-yyyy                      0
FY-Quarter                    0
Quarter                       0
FY                            0
YTD                           167857
Year                          0
Date_order                    0
Days                          0
KMs Reading                   0
Make                          0
Model                         1525
Order Type                    0
Labour Total                  0
Misc Total                    0
OSL Total                     0
Parts Total                   0
Total Amt Wtd Tax.            0
Plant                         0
Zone                          0
Population                    0
National Share (%)            0
Decadal growth (2001–2012)    0
Rural population              0
Percent rural                 0
Urban population              0
Percent urban                 0
Area                          0
Density                       0
Sex ratio                     0
dtype: int64

# Exploratory Data Analysis

In [7]:
custom_data

,Area / Locality,CITY,District,Cust Type,Customer No.,Marital Status,Occupation,Regn No,REG_INIT,Date,mmm-yyyy,FY-Quarter,Quarter,FY,YTD,Year,Date_order,Days,KMs Reading,Make,Model,Order Type,Labour Total,Misc Total,OSL Total,Parts Total,Total Amt Wtd Tax.,Plant,Zone,Population,National Share (%),Decadal growth (2001–2012),Rural population,Percent rural,Urban population,Percent urban,Area,Density,Sex ratio
0,NaN,pune,maharashtra,Retail,1,NaN,NaN,MH12BP8093,MH,2012-04-02,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,169,10,MARUTI SUZUKI,OMNI,Paid Service,0.00,0.00,0.0,0.00,0.00,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
1,NaN,pune,maharashtra,Retail,1,NaN,NaN,SPTOOLS,SP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,38,1212,MARUTI SUZUKI,KIZASHI,Paid Service,0.00,0.00,0.0,0.00,0.00,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
2,NaN,pune,maharashtra,Retail,1,NaN,NaN,MH12BP8093,MH,2012-07-27,Jul-2012,2012-13 Q2,2,2012-13,F12_YTD,2012,4,53,35817,MARUTI SUZUKI,OMNI,Paid Service,0.00,0.00,0.0,0.00,0.00,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
3,NaN,pune,maharashtra,Retail,1,NaN,NaN,MH12BP8093,MH,2013-03-17,Mar-2013,2012-13 Q4,4,2012-13,NaN,2013,12,13,39975,MARUTI SUZUKI,OMNI,Running Repairs,0.00,0.00,0.0,0.00,0.00,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
4,NaN,ghatkopar,maharashtra,Retail,2,NaN,NaN,MH03M7651,MH,2012-04-02,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,3,133165,TATA MOTORS,INDIGO,Running Repairs,99.95,0.00,0.0,618.35,718.30,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492309,X241,kashipur,uttarakhand,Franchise,PLX241,NaN,NaN,MH43AJ8324,MH,2016-10-14,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,56328,MARUTI SUZUKI,RITZ,Running Repairs,3257.38,219.99,0.0,0.00,3477.37,X241,North,10086292,0.0083,0.188,7036954,0.6977,3049338,0.3023,"53,483 km2 (20,650 sq mi)",189/km2 (490/sq mi),963
492310,X277,jalpaiguri,west bengal,Retail,PLX277,NaN,NaN,WB72G6072,WB,2016-10-24,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,2,52358,TATA MOTORS,SUMO,Running Repairs,1245.04,0.00,0.0,5625.91,6870.95,X277,East,91276115,0.0754,0.138,62183113,0.6813,29093002,0.3187,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953
492311,X312,barshi,maharashtra,Retail,PLX312,NaN,NaN,MH13AZ9845,MH,2016-07-23,Jul-2016,2016-17 Q2,2,2016-17,F16_YTD,2016,52,17,57841,MAHINDRA & MAHINDRA,SCORPIO CRDE,Running Repairs,167.94,0.00,0.0,399.86,567.80,X146,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
492312,NaN,meerut,uttar pradesh,Retail,PLX380,NaN,NaN,UP15BF6060,UP,2016-09-30,Sep-2016,2016-17 Q2,2,2016-17,F16_YTD,2016,54,0,90704,MAHINDRA & MAHINDRA,XUV 500,Running Repairs,4126.97,220.01,0.0,0.00,4346.98,X380,North,199812341,0.1651,0.202,155317278,0.7773,44495063,0.2227,"240,928 km2 (93,023 sq mi)","828/km2 (2,140/sq mi)",912
492313,NaN,nizamabad,telangana,Franchise,PLX386,NaN,NaN,AP09BX9606,AP,2016-09-21,Sep-2016,2016-17 Q2,2,2016-17,F16_YTD,2016,54,6,55222,HYUNDAI,SANTRO,Running Repairs,0.00,0.00,0.0,0.00,0.00,X386,South,35003674,0.0289,0.1358,21395009,0.6112,13608665,0.3888,"112,077 km2 (43,273 sq mi)",312/km2 (810/sq mi),988

In [8]:
sorted_custom_data =  custom_data.sort_values(by=['Date'])

In [9]:
sorted_custom_data

,Area / Locality,CITY,District,Cust Type,Customer No.,Marital Status,Occupation,Regn No,REG_INIT,Date,mmm-yyyy,FY-Quarter,Quarter,FY,YTD,Year,Date_order,Days,KMs Reading,Make,Model,Order Type,Labour Total,Misc Total,OSL Total,Parts Total,Total Amt Wtd Tax.,Plant,Zone,Population,National Share (%),Decadal growth (2001–2012),Rural population,Percent rural,Urban population,Percent urban,Area,Density,Sex ratio
487949,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH01JA5003,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,20,166696,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,2450.40,100.0,4839.96,16061.47,23451.83,BC01,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996
486477,NaN,nashik,maharashtra,Retail,E27136,NaN,NaN,MH04BK0425,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,80944,MARUTI SUZUKI,WAGONR,Paid Service,4296.94,0.0,0.00,14461.26,18758.20,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
490710,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9472,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,449,69005,MAHINDRA & MAHINDRA,NaN,Running Repairs,719.99,0.0,0.00,4099.55,4819.54,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
486601,NaN,nashik,maharashtra,Retail,E27216,NaN,NaN,MH01MA6562,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,6,95062,TATA MOTORS,INDICA,Paid Service,2303.02,0.0,0.00,6802.95,9105.97,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
485973,NaN,nashik,maharashtra,Retail,E26813,NaN,NaN,MH15AS5473,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,24,76088,MITSUBISHI MOTORS,LANCER,Paid Service,8840.01,500.0,0.00,37884.75,47224.76,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451667,DESHBANDHU PARA,jalpaiguri,west bengal,Retail,241201,NaN,NaN,WB72J2874,WB,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,36123,MARUTI SUZUKI,ERTIGA,Running Repairs,0.00,0.0,0.00,0.00,0.00,X277,East,91276115,0.0754,0.138,62183113,0.6813,29093002,0.3187,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953
434013,VELLIVLAGAM,viricodu,tamil nadu,Retail,226229,NaN,NaN,TN23AD1463,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,59752,MARUTI SUZUKI,ZEN ESTILO,Running Repairs,434.74,0.0,0.00,0.00,434.74,X048,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996
472462,FLAT NO-408,kankarbagh,bihar,Retail,261861,NaN,NaN,BR01BU0007,BR,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,80110,MAHINDRA & MAHINDRA,XUV 500,Running Repairs,1351.12,0.0,0.00,1987.17,3338.29,X188,East,104099452,0.0860,0.254,92341436,0.8871,11758016,0.1129,"94,163 km2 (36,357 sq mi)","1,102/km2 (2,850/sq mi)",918
472459,P.N ROAD,tirupur,tamil nadu,Retail,261855,NaN,NaN,TN45AL0492,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,65215,MARUTI SUZUKI,ALTO,Running Repairs,458.05,0.0,0.00,1552.20,2010.25,X023,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996
244373,ALLIKOTTAI,salem,tamil nadu,Retail,106657,NaN,NaN,TN30AR0124,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,44789,TATA MOTORS,VISTA,Accidental,5000.00,0.0,0.00,0.00,5000.00,X021,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996

In [22]:
sorted_custom_data["Cust Visit Count"]=0

In [25]:
sorted_custom_data[:50]["Customer No."].value_counts()

EMA131    6
E4981     3
E11262    2
E26813    2
E18639    2
E27136    1
E24866    1
E22364    1
E941      1
E25833    1
E27255    1
E22238    1
E27149    1
E15015    1
E25342    1
E27252    1
E27146    1
E26945    1
E27216    1
E26881    1
E27225    1
E27260    1
E27197    1
E27209    1
E27151    1
E27253    1
E27210    1
E26196    1
E27087    1
E24492    1
E27144    1
E25208    1
E27029    1
E24109    1
E25819    1
E13490    1
E25218    1
E27147    1
E27211    1
E24265    1
Name: Customer No., dtype: int64

In [19]:
#for index,row in sorted_custom_data[:50].iterrows():

In [21]:
sorted_custom_data["Customer No."]

487949    E4981
486477    E27136
490710    EMA131
486601    E27216
485973    E26813
           ...
451667    241201
434013    226229
472462    261861
472459    261855
244373    106657
Name: Customer No., Length: 492314, dtype: object

In [41]:
sorted_custom_data

,Area / Locality,CITY,District,Cust Type,Customer No.,Marital Status,Occupation,Regn No,REG_INIT,Date,mmm-yyyy,FY-Quarter,Quarter,FY,YTD,Year,Date_order,Days,KMs Reading,Make,Model,Order Type,Labour Total,Misc Total,OSL Total,Parts Total,Total Amt Wtd Tax.,Plant,Zone,Population,National Share (%),Decadal growth (2001–2012),Rural population,Percent rural,Urban population,Percent urban,Area,Density,Sex ratio,Cust Visit Count
487949,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH01JA5003,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,20,166696,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,2450.40,100.0,4839.96,16061.47,23451.83,BC01,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
486477,NaN,nashik,maharashtra,Retail,E27136,NaN,NaN,MH04BK0425,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,80944,MARUTI SUZUKI,WAGONR,Paid Service,4296.94,0.0,0.00,14461.26,18758.20,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
490710,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9472,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,449,69005,MAHINDRA & MAHINDRA,NaN,Running Repairs,719.99,0.0,0.00,4099.55,4819.54,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
486601,NaN,nashik,maharashtra,Retail,E27216,NaN,NaN,MH01MA6562,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,6,95062,TATA MOTORS,INDICA,Paid Service,2303.02,0.0,0.00,6802.95,9105.97,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
485973,NaN,nashik,maharashtra,Retail,E26813,NaN,NaN,MH15AS5473,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,24,76088,MITSUBISHI MOTORS,LANCER,Paid Service,8840.01,500.0,0.00,37884.75,47224.76,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451667,DESHBANDHU PARA,jalpaiguri,west bengal,Retail,241201,NaN,NaN,WB72J2874,WB,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,36123,MARUTI SUZUKI,ERTIGA,Running Repairs,0.00,0.0,0.00,0.00,0.00,X277,East,91276115,0.0754,0.138,62183113,0.6813,29093002,0.3187,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953,0
434013,VELLIVLAGAM,viricodu,tamil nadu,Retail,226229,NaN,NaN,TN23AD1463,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,59752,MARUTI SUZUKI,ZEN ESTILO,Running Repairs,434.74,0.0,0.00,0.00,434.74,X048,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
472462,FLAT NO-408,kankarbagh,bihar,Retail,261861,NaN,NaN,BR01BU0007,BR,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,80110,MAHINDRA & MAHINDRA,XUV 500,Running Repairs,1351.12,0.0,0.00,1987.17,3338.29,X188,East,104099452,0.0860,0.254,92341436,0.8871,11758016,0.1129,"94,163 km2 (36,357 sq mi)","1,102/km2 (2,850/sq mi)",918,0
472459,P.N ROAD,tirupur,tamil nadu,Retail,261855,NaN,NaN,TN45AL0492,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,65215,MARUTI SUZUKI,ALTO,Running Repairs,458.05,0.0,0.00,1552.20,2010.25,X023,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
244373,ALLIKOTTAI,salem,tamil nadu,Retail,106657,NaN,NaN,TN30AR0124,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,44789,TATA MOTORS,VISTA,Accidental,5000.00,0.0,0.00,0.00,5000.00,X021,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0

In [44]:
sorted_custom_data.reset_index(inplace=True)

In [46]:
sorted_custom_data[:50]

,index,Area / Locality,CITY,District,Cust Type,Customer No.,Marital Status,Occupation,Regn No,REG_INIT,Date,mmm-yyyy,FY-Quarter,Quarter,FY,YTD,Year,Date_order,Days,KMs Reading,Make,Model,Order Type,Labour Total,Misc Total,OSL Total,Parts Total,Total Amt Wtd Tax.,Plant,Zone,Population,National Share (%),Decadal growth (2001–2012),Rural population,Percent rural,Urban population,Percent urban,Area,Density,Sex ratio,Cust Visit Count
0,487949,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH01JA5003,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,20,166696,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,2450.40,100.00,4839.96,16061.47,23451.83,BC01,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
1,486477,NaN,nashik,maharashtra,Retail,E27136,NaN,NaN,MH04BK0425,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,80944,MARUTI SUZUKI,WAGONR,Paid Service,4296.94,0.00,0.00,14461.26,18758.20,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
2,490710,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9472,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,449,69005,MAHINDRA & MAHINDRA,NaN,Running Repairs,719.99,0.00,0.00,4099.55,4819.54,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
3,486601,NaN,nashik,maharashtra,Retail,E27216,NaN,NaN,MH01MA6562,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,6,95062,TATA MOTORS,INDICA,Paid Service,2303.02,0.00,0.00,6802.95,9105.97,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
4,485973,NaN,nashik,maharashtra,Retail,E26813,NaN,NaN,MH15AS5473,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,24,76088,MITSUBISHI MOTORS,LANCER,Paid Service,8840.01,500.00,0.00,37884.75,47224.76,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
5,485256,NaN,chennai,tamil nadu,Retail,E25819,NaN,NaN,TN31AC2,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,51,1,MAHINDRA & MAHINDRA,BOLERO,Accidental,0.00,0.00,0.00,0.00,0.00,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
6,490709,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9478,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,449,1,MAHINDRA & MAHINDRA,LOGAN D,Accidental,20455.11,0.00,0.00,50329.92,70785.03,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
7,490708,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9371,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,87,1,MAHINDRA & MAHINDRA,LOGAN D,Accidental,34145.01,0.00,1300.00,170970.32,206415.33,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
8,486071,NaN,chennai,tamil nadu,Retail,E26881,NaN,NaN,TN01U4444,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,20,47263,MARUTI SUZUKI,ZEN,Running Repairs,225.00,0.00,0.00,1518.94,1743.94,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
9,476772,NaN,hyderabad,andhra pradesh,Retail,E15015,NaN,NaN,AP28BD2766,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,3,136636,MAHINDRA & MAHINDRA,BOLERO,Paid Service,598.95,0.00,0.00,1658.51,2257.46,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
10,485549,NaN,hyderabad,andhra pradesh,Retail,E26196,NaN,NaN,MH12FF9716,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,24,1,MAHINDRA & MAHINDRA,SCORPIO CRDE,Accidental,8750.00,0.00,2850.00,187754.80,199354.80,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
11,486495,NaN,chittlapakkam,tamil nadu,Retail,E27144,NaN,NaN,TN22BS4001,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,17059,MAHINDRA & MAHINDRA,NaN,Paid Service,802.89,0.00,0.00,1992.86,2795.75,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
12,486582,NaN,hyderabad,andhra pradesh,Retail,E27209,NaN,NaN,AP09AY1824,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,10,65152,TATA MOTORS,INDIGO,Accidental,4999.93,0.00,0.00,260.21,5260.14,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
13,486501,NaN,hyderabad,andhra pradesh,Retail,E27146,NaN,NaN,AP10AX2669,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,6,45652,MARUTI SUZUKI,SWIFT,Accidental,2697.90,0.00,0.00,5866.89,8564.79,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
14,486502,NaN,hyderabad,andhra pradesh,Retail,E27147,NaN,NaN,AP09AT8708,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,146556,TATA MOTORS,INDICA,Accidental,4550.06,0.00,0.00,4683.24,9233.30,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
15,486505,NaN,hyderabad,andhra pradesh,Retail,E27149,NaN,NaN,AP12K7199,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,9,31200,TATA MOTORS,INDIGO,Accidental,10200.22,0.00,0.00,10504.66,20704.88,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
16,486584,NaN,hyderabad,andhra pradesh,Retail,E27210,NaN,NaN,AP9AY1080,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,12466,MARUTI SUZUKI,ALTO,Paid Service,823.90,0.00,0.00,1712.86,2536.76,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
17,486655,NaN,pune,maharashtra,Retail,E27260,NaN,NaN,MH12PA0504,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,3,85784,FIAT,UNO,Paid Service,599.08,185.02,0.00,0.00,784.10,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
18,485972,NaN,nashik,maharashtra,Retail,E26813,NaN,NaN,MH15AS5473,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,24,76088,MITSUBISHI MOTORS,LANCER,Accidental,0.00,0.00,32199.83,0.00,32199.83,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
19,486585,NaN,hyderabad,andhra pradesh,Retail,E27211,NaN,NaN,AP9BC0029,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,56849,HYUNDAI,GETZ,Accidental,430.05,0.00,0.00,2945.72,3375.77,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
20,490711,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9473,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,449,78468,MAHINDRA & MAHINDRA,LOGAN D,Running Repairs,19257.95,0.00,0.00,168870.82,188128.77,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
21,490715,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9376,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,86,120000,MAHINDRA & MAHINDRA,LOGAN D,Running Repairs,5362.96,0.00,1368.59,55719.45,62451.00,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
22,481825,NaN,hyderabad,andhra pradesh,Retail,E22364,NaN,NaN,AP9BJ4847,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,1,75627,MAHINDRA & MAHINDRA,SCORPIO CRDE,Paid Service,1709.06,0.00,480.02,3317.37,5506.45,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
23,483509,NaN,chennai,tamil nadu,Retail,E24109,NaN,NaN,TN09AP9632,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,5,38558,FORD,FIESTA,Paid Service,874.91,0.00,0.00,1697.75,2572.66,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
24,484577,NaN,mumbai,maharashtra,Retail,E25208,NaN,NaN,MH06AF2265,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,5,58809,TATA MOTORS,INDIGO,Running Repairs,4100.98,0.00,0.00,11289.00,15389.98,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
25,490481,NaN,hyderabad,andhra pradesh,Retail,E941,NaN,NaN,AP10AN83,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,34430,MARUTI SUZUKI,ALTO,Paid Service,599.10,0.00,0.00,1013.87,1612.97,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
26,479096,NaN,chennai,tamil nadu,Retail,E18639,NaN,NaN,TN22BE3209,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,29,65085,MAHINDRA & MAHINDRA,XYLO,Paid Service,44715.28,1500.01,2500.01,36255.53,84970.83,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
27,473876,NaN,chennai,tamil nadu,Retail,E11262,NaN,NaN,TN22BM9743,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,4,50667,TATA MOTORS,INDICA,Paid Service,1113.08,0.00,0.00,4171.52,5284.60,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
28,484579,NaN,hyderabad,andhra pradesh,Retail,E25218,NaN,NaN,AP29BB4586,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,1,1,TATA MOTORS,INDICA,Accidental,2074.88,0.00,0.00,3105.67,5180.55,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
29,473884,NaN,chennai,tamil nadu,Retail,E11262,NaN,NaN,TN22BL5943,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,5,55330,GENERAL MOTORS,OPTRA,Accidental,5750.14,0.00,0.00,12104.96,17855.10,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
30,486149,NaN,nashik,maharashtra,Retail,E26945,NaN,NaN,MH15BB9999,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,5,103366,TATA MOTORS,SAFARI,Running Repairs,0.00,0.00,0.00,604.44,604.44,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
31,483606,NaN,chennai,tamil nadu,Retail,E24265,NaN,NaN,TN22AL5913,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,53,250640,TATA MOTORS,INDICA,Accidental,113.03,0.00,0.00,0.00,113.03,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
32,485284,NaN,hyderabad,andhra pradesh,Retail,E25833,NaN,NaN,AP28BF4002,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,85220,MARUTI SUZUKI,ALTO,Paid Service,598.96,0.00,0.00,774.67,1373.63,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
33,488685,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH01JA5144,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,8,204207,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,2377.55,100.00,120.00,10756.82,13354.37,BC01,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
34,486559,NaN,pune,maharashtra,Retail,E27197,NaN,NaN,MH16AB998,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,3,112882,MAHINDRA & MAHINDRA,LOGAN D,Paid Service,2026.97,0.00,0.00,7261.74,9288.71,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
35,479097,NaN,chennai,tamil nadu,Retail,E18639,NaN,NaN,TN22BE3209,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,52,65085,MAHINDRA & MAHINDRA,XYLO,Accidental,0.00,0.00,0.00,0.00,0.00,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
36,486398,NaN,mumbai,maharashtra,Retail,E27087,NaN,NaN,MH02JP1051,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,4,50063,MARUTI SUZUKI,SX4,Accidental,12847.59,0.00,0.00,2104.89,14952.48,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
37,475772,NaN,mumbai,maharashtra,Retail,E13490,NaN,NaN,MH04BY3340,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,29,144012,TOYOTA,QUALIS,Accidental,2849.90,0.00,0.00,8414.05,11263.95,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
38,483866,NaN,pune,maharashtra,Retail,E24492,NaN,NaN,MH12AV7172,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,3,186142,FIAT,ADVENTURE,Paid Service,599.03,550.02,0.00,2910.00,4059.05,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
39,490712,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9486,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,449,88145,MAHINDRA & MAHINDRA,LOGAN D,Running Repairs,17050.00,0.00,0.00,221215.62,238265.62,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
40,486651,NaN,nashik,maharashtra,Retail,E27255,NaN,NaN,MH15BN3914,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,44184,GENERAL MOTORS,AVEO,Paid Service,2321.70,0.00,0.00,1020.70,3342.40,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
41,486511,NaN,hyderabad,andhra pradesh,Retail,E27151,NaN,NaN,AP9BD8296,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,5,43247,FORD,IKON,Paid Service,2490.00,0.00,0.00,24555.99,27045.99,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
42,486648,NaN,hyderabad,andhra pradesh,Retail,E27252,NaN,NaN,AP28AN7390,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,35637,HYUNDAI,SANTRO,Paid Service,899.09,0.00,0.00,1047.86,1946.95,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
43,486623,NaN,pune,maharashtra,Retail,E27225,NaN,NaN,MH12BV5434,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,4,189773,MAHINDRA & MAHINDRA,SCORPIO CRDE,Paid Service,2353.99,0.00,0.00,4882.70,7236.69,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
44,484200,NaN,nashik,maharashtra,Retail,E24866,NaN,NaN,MH04BH6546,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,37,101508,MARUTI SUZUKI,WAGONR,Paid Service,6850.79,0.00,0.00,6106.44,12957.23,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
45,488356,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH03F9574,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,6,191383,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,3455.92,100.00,2399.95,11042.62,16998.49,BC01,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
46,481666,NaN,chennai,tamil nadu,Retail,E22238,NaN,NaN,TN07BY0531,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,26,1,MAHINDRA & MAHINDRA,BOLERO,Accidental,19999.92,0.00,0.00,37944.17,57944.09,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
47,486268,NaN,mumbai,maharashtra,Retail,E27029,NaN,NaN,MH12GR2992,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,4,26125,FIAT,PALIO,Accidental,8555.32,0.00,0.00,3377.74,11933.06,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0
48,484721,NaN,hyderabad,andhra pradesh,Retail,E25342,NaN,NaN,AP9AV4185,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,5,80417,MAHINDRA & MAHINDRA,SCORPIO CRDE,Running Repairs,1980.06,0.00,10920.33,1394.92,14295.31,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0
49,486650,NaN,hyderabad,andhra pradesh,Retail,E27253,NaN,NaN,AP10AK1045,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,59514,TATA MOTORS,INDICA,Paid Service,598.96,0.00,0.00,1465.49,2064.45,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,0

In [47]:
sorted_custom_data[:50]["Customer No."].value_counts()

EMA131    6
E4981     3
E11262    2
E26813    2
E18639    2
E27136    1
E24866    1
E22364    1
E941      1
E25833    1
E27255    1
E22238    1
E27149    1
E15015    1
E25342    1
E27252    1
E27146    1
E26945    1
E27216    1
E26881    1
E27225    1
E27260    1
E27197    1
E27209    1
E27151    1
E27253    1
E27210    1
E26196    1
E27087    1
E24492    1
E27144    1
E25208    1
E27029    1
E24109    1
E25819    1
E13490    1
E25218    1
E27147    1
E27211    1
E24265    1
Name: Customer No., dtype: int64

In [54]:
sorted_custom_data[:50][sorted_custom_data[:50]["Customer No."]=='E4981']

,index,Area / Locality,CITY,District,Cust Type,Customer No.,Marital Status,Occupation,Regn No,REG_INIT,Date,mmm-yyyy,FY-Quarter,Quarter,FY,YTD,Year,Date_order,Days,KMs Reading,Make,Model,Order Type,Labour Total,Misc Total,OSL Total,Parts Total,Total Amt Wtd Tax.,Plant,Zone,Population,National Share (%),Decadal growth (2001–2012),Rural population,Percent rural,Urban population,Percent urban,Area,Density,Sex ratio,Cust Visit Count
0,487949,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH01JA5003,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,20,166696,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,2450.40,100.0,4839.96,16061.47,23451.83,BC01,South,72147030,0.0596,0.156,37229590,0.516,34917440,0.484,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
33,488685,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH01JA5144,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,8,204207,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,2377.55,100.0,120.00,10756.82,13354.37,BC01,South,72147030,0.0596,0.156,37229590,0.516,34917440,0.484,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0
45,488356,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH03F9574,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,6,191383,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,3455.92,100.0,2399.95,11042.62,16998.49,BC01,South,72147030,0.0596,0.156,37229590,0.516,34917440,0.484,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0

In [65]:
cust_visit_vcnt = pd.DataFrame(sorted_custom_data["Customer No."].value_counts()).reset_index()

In [68]:
cust_visit_vcnt.columns=['Customer No.','Total Visits']

In [70]:
cust_visit_vcnt

       Customer No.  Total Visits
0       E4981        2668
1       E11206       688
2       412          610
3       14505        441
4       MFCWP01      360
...         ...      ...
253479  115987       1
253480  115986       1
253481  115985       1
253482  205580       1
253483  E15244       1

[253484 rows x 2 columns]

In [71]:
srt_cust_data = pd.merge(sorted_custom_data,cust_visit_vcnt,how='left',on='Customer No.')

In [72]:
srt_cust_data

,index,Area / Locality,CITY,District,Cust Type,Customer No.,Marital Status,Occupation,Regn No,REG_INIT,Date,mmm-yyyy,FY-Quarter,Quarter,FY,YTD,Year,Date_order,Days,KMs Reading,Make,Model,Order Type,Labour Total,Misc Total,OSL Total,Parts Total,Total Amt Wtd Tax.,Plant,Zone,Population,National Share (%),Decadal growth (2001–2012),Rural population,Percent rural,Urban population,Percent urban,Area,Density,Sex ratio,Cust Visit Count,Total Visits
0,487949,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH01JA5003,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,20,166696,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,2450.40,100.0,4839.96,16061.47,23451.83,BC01,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0,2668
1,486477,NaN,nashik,maharashtra,Retail,E27136,NaN,NaN,MH04BK0425,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,80944,MARUTI SUZUKI,WAGONR,Paid Service,4296.94,0.0,0.00,14461.26,18758.20,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0,1
2,490710,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9472,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,449,69005,MAHINDRA & MAHINDRA,NaN,Running Repairs,719.99,0.0,0.00,4099.55,4819.54,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0,8
3,486601,NaN,nashik,maharashtra,Retail,E27216,NaN,NaN,MH01MA6562,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,6,95062,TATA MOTORS,INDICA,Paid Service,2303.02,0.0,0.00,6802.95,9105.97,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0,9
4,485973,NaN,nashik,maharashtra,Retail,E26813,NaN,NaN,MH15AS5473,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,24,76088,MITSUBISHI MOTORS,LANCER,Paid Service,8840.01,500.0,0.00,37884.75,47224.76,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492309,451667,DESHBANDHU PARA,jalpaiguri,west bengal,Retail,241201,NaN,NaN,WB72J2874,WB,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,36123,MARUTI SUZUKI,ERTIGA,Running Repairs,0.00,0.0,0.00,0.00,0.00,X277,East,91276115,0.0754,0.138,62183113,0.6813,29093002,0.3187,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953,0,2
492310,434013,VELLIVLAGAM,viricodu,tamil nadu,Retail,226229,NaN,NaN,TN23AD1463,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,59752,MARUTI SUZUKI,ZEN ESTILO,Running Repairs,434.74,0.0,0.00,0.00,434.74,X048,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0,2
492311,472462,FLAT NO-408,kankarbagh,bihar,Retail,261861,NaN,NaN,BR01BU0007,BR,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,80110,MAHINDRA & MAHINDRA,XUV 500,Running Repairs,1351.12,0.0,0.00,1987.17,3338.29,X188,East,104099452,0.0860,0.254,92341436,0.8871,11758016,0.1129,"94,163 km2 (36,357 sq mi)","1,102/km2 (2,850/sq mi)",918,0,1
492312,472459,P.N ROAD,tirupur,tamil nadu,Retail,261855,NaN,NaN,TN45AL0492,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,65215,MARUTI SUZUKI,ALTO,Running Repairs,458.05,0.0,0.00,1552.20,2010.25,X023,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0,1
492313,244373,ALLIKOTTAI,salem,tamil nadu,Retail,106657,NaN,NaN,TN30AR0124,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,44789,TATA MOTORS,VISTA,Accidental,5000.00,0.0,0.00,0.00,5000.00,X021,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0,12

In [85]:
srt_cust_data.iloc[50]["Customer No."]

'E26558'

In [ ]:
srt_cust_data.iloc[50]["Customer No."]

In [90]:
srt_cust_data.iloc[:50]["Customer No."].count()

50

In [93]:
sorted_custom_data[:50][sorted_custom_data[:50]["Customer No."]=='E4981']["Customer No."].count()

3

In [95]:
sorted_custom_data[:50][sorted_custom_data[:50]["Customer No."]==srt_cust_data.iloc[50]["Customer No."]]["Customer No."].count()+1

1

In [96]:
srt_cust_data[:50][srt_cust_data[:50]["Customer No."]==srt_cust_data.iloc[50]["Customer No."]]["Customer No."].count()+1

1

In [129]:
for index,row in srt_cust_data[:100].iterrows():
    #srt_cust_data.set_value(index,"Cust Visit Count",srt_cust_data[:index][srt_cust_data[:index]["Customer No."]==srt_cust_data.iloc[index]["Customer No."]]["Customer No."].count()+1)
    srt_cust_data.ix[index,"Cust Visit Count"]=srt_cust_data[:index][srt_cust_data[:index]["Customer No."]==srt_cust_data.iloc[index]["Customer No."]]["Customer No."].count()+1

In [130]:
srt_cust_data[:102]

,index,Area / Locality,CITY,District,Cust Type,Customer No.,Marital Status,Occupation,Regn No,REG_INIT,Date,mmm-yyyy,FY-Quarter,Quarter,FY,YTD,Year,Date_order,Days,KMs Reading,Make,Model,Order Type,Labour Total,Misc Total,OSL Total,Parts Total,Total Amt Wtd Tax.,Plant,Zone,Population,National Share (%),Decadal growth (2001–2012),Rural population,Percent rural,Urban population,Percent urban,Area,Density,Sex ratio,Cust Visit Count,Total Visits
0,487949,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH01JA5003,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,20,166696,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,2450.40,100.00,4839.96,16061.47,23451.83,BC01,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,1,2668
1,486477,NaN,nashik,maharashtra,Retail,E27136,NaN,NaN,MH04BK0425,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,80944,MARUTI SUZUKI,WAGONR,Paid Service,4296.94,0.00,0.00,14461.26,18758.20,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,1
2,490710,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9472,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,449,69005,MAHINDRA & MAHINDRA,NaN,Running Repairs,719.99,0.00,0.00,4099.55,4819.54,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,8
3,486601,NaN,nashik,maharashtra,Retail,E27216,NaN,NaN,MH01MA6562,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,6,95062,TATA MOTORS,INDICA,Paid Service,2303.02,0.00,0.00,6802.95,9105.97,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,9
4,485973,NaN,nashik,maharashtra,Retail,E26813,NaN,NaN,MH15AS5473,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,24,76088,MITSUBISHI MOTORS,LANCER,Paid Service,8840.01,500.00,0.00,37884.75,47224.76,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,6
5,485256,NaN,chennai,tamil nadu,Retail,E25819,NaN,NaN,TN31AC2,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,51,1,MAHINDRA & MAHINDRA,BOLERO,Accidental,0.00,0.00,0.00,0.00,0.00,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,1,7
6,490709,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9478,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,449,1,MAHINDRA & MAHINDRA,LOGAN D,Accidental,20455.11,0.00,0.00,50329.92,70785.03,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,2,8
7,490708,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9371,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,87,1,MAHINDRA & MAHINDRA,LOGAN D,Accidental,34145.01,0.00,1300.00,170970.32,206415.33,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,3,8
8,486071,NaN,chennai,tamil nadu,Retail,E26881,NaN,NaN,TN01U4444,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,20,47263,MARUTI SUZUKI,ZEN,Running Repairs,225.00,0.00,0.00,1518.94,1743.94,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,1,1
9,476772,NaN,hyderabad,andhra pradesh,Retail,E15015,NaN,NaN,AP28BD2766,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,3,136636,MAHINDRA & MAHINDRA,BOLERO,Paid Service,598.95,0.00,0.00,1658.51,2257.46,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,1
10,485549,NaN,hyderabad,andhra pradesh,Retail,E26196,NaN,NaN,MH12FF9716,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,24,1,MAHINDRA & MAHINDRA,SCORPIO CRDE,Accidental,8750.00,0.00,2850.00,187754.80,199354.80,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,3
11,486495,NaN,chittlapakkam,tamil nadu,Retail,E27144,NaN,NaN,TN22BS4001,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,17059,MAHINDRA & MAHINDRA,NaN,Paid Service,802.89,0.00,0.00,1992.86,2795.75,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,1,5
12,486582,NaN,hyderabad,andhra pradesh,Retail,E27209,NaN,NaN,AP09AY1824,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,10,65152,TATA MOTORS,INDIGO,Accidental,4999.93,0.00,0.00,260.21,5260.14,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,2
13,486501,NaN,hyderabad,andhra pradesh,Retail,E27146,NaN,NaN,AP10AX2669,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,6,45652,MARUTI SUZUKI,SWIFT,Accidental,2697.90,0.00,0.00,5866.89,8564.79,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,2
14,486502,NaN,hyderabad,andhra pradesh,Retail,E27147,NaN,NaN,AP09AT8708,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,146556,TATA MOTORS,INDICA,Accidental,4550.06,0.00,0.00,4683.24,9233.30,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,1
15,486505,NaN,hyderabad,andhra pradesh,Retail,E27149,NaN,NaN,AP12K7199,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,9,31200,TATA MOTORS,INDIGO,Accidental,10200.22,0.00,0.00,10504.66,20704.88,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,1
16,486584,NaN,hyderabad,andhra pradesh,Retail,E27210,NaN,NaN,AP9AY1080,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,12466,MARUTI SUZUKI,ALTO,Paid Service,823.90,0.00,0.00,1712.86,2536.76,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,1
17,486655,NaN,pune,maharashtra,Retail,E27260,NaN,NaN,MH12PA0504,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,3,85784,FIAT,UNO,Paid Service,599.08,185.02,0.00,0.00,784.10,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,1
18,485972,NaN,nashik,maharashtra,Retail,E26813,NaN,NaN,MH15AS5473,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,24,76088,MITSUBISHI MOTORS,LANCER,Accidental,0.00,0.00,32199.83,0.00,32199.83,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,2,6
19,486585,NaN,hyderabad,andhra pradesh,Retail,E27211,NaN,NaN,AP9BC0029,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,56849,HYUNDAI,GETZ,Accidental,430.05,0.00,0.00,2945.72,3375.77,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,1
20,490711,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9473,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,449,78468,MAHINDRA & MAHINDRA,LOGAN D,Running Repairs,19257.95,0.00,0.00,168870.82,188128.77,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,4,8
21,490715,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9376,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,86,120000,MAHINDRA & MAHINDRA,LOGAN D,Running Repairs,5362.96,0.00,1368.59,55719.45,62451.00,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,5,8
22,481825,NaN,hyderabad,andhra pradesh,Retail,E22364,NaN,NaN,AP9BJ4847,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,1,75627,MAHINDRA & MAHINDRA,SCORPIO CRDE,Paid Service,1709.06,0.00,480.02,3317.37,5506.45,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,6
23,483509,NaN,chennai,tamil nadu,Retail,E24109,NaN,NaN,TN09AP9632,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,5,38558,FORD,FIESTA,Paid Service,874.91,0.00,0.00,1697.75,2572.66,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,1,5
24,484577,NaN,mumbai,maharashtra,Retail,E25208,NaN,NaN,MH06AF2265,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,5,58809,TATA MOTORS,INDIGO,Running Repairs,4100.98,0.00,0.00,11289.00,15389.98,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,2
25,490481,NaN,hyderabad,andhra pradesh,Retail,E941,NaN,NaN,AP10AN83,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,34430,MARUTI SUZUKI,ALTO,Paid Service,599.10,0.00,0.00,1013.87,1612.97,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,2
26,479096,NaN,chennai,tamil nadu,Retail,E18639,NaN,NaN,TN22BE3209,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,29,65085,MAHINDRA & MAHINDRA,XYLO,Paid Service,44715.28,1500.01,2500.01,36255.53,84970.83,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,1,2
27,473876,NaN,chennai,tamil nadu,Retail,E11262,NaN,NaN,TN22BM9743,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,4,50667,TATA MOTORS,INDICA,Paid Service,1113.08,0.00,0.00,4171.52,5284.60,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,1,55
28,484579,NaN,hyderabad,andhra pradesh,Retail,E25218,NaN,NaN,AP29BB4586,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,1,1,TATA MOTORS,INDICA,Accidental,2074.88,0.00,0.00,3105.67,5180.55,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,1
29,473884,NaN,chennai,tamil nadu,Retail,E11262,NaN,NaN,TN22BL5943,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,5,55330,GENERAL MOTORS,OPTRA,Accidental,5750.14,0.00,0.00,12104.96,17855.10,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,2,55
30,486149,NaN,nashik,maharashtra,Retail,E26945,NaN,NaN,MH15BB9999,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,5,103366,TATA MOTORS,SAFARI,Running Repairs,0.00,0.00,0.00,604.44,604.44,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,4
31,483606,NaN,chennai,tamil nadu,Retail,E24265,NaN,NaN,TN22AL5913,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,53,250640,TATA MOTORS,INDICA,Accidental,113.03,0.00,0.00,0.00,113.03,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,1,1
32,485284,NaN,hyderabad,andhra pradesh,Retail,E25833,NaN,NaN,AP28BF4002,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,85220,MARUTI SUZUKI,ALTO,Paid Service,598.96,0.00,0.00,774.67,1373.63,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,2
33,488685,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH01JA5144,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,8,204207,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,2377.55,100.00,120.00,10756.82,13354.37,BC01,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,2,2668
34,486559,NaN,pune,maharashtra,Retail,E27197,NaN,NaN,MH16AB998,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,3,112882,MAHINDRA & MAHINDRA,LOGAN D,Paid Service,2026.97,0.00,0.00,7261.74,9288.71,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,7
35,479097,NaN,chennai,tamil nadu,Retail,E18639,NaN,NaN,TN22BE3209,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,52,65085,MAHINDRA & MAHINDRA,XYLO,Accidental,0.00,0.00,0.00,0.00,0.00,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,2,2
36,486398,NaN,mumbai,maharashtra,Retail,E27087,NaN,NaN,MH02JP1051,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,4,50063,MARUTI SUZUKI,SX4,Accidental,12847.59,0.00,0.00,2104.89,14952.48,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,4
37,475772,NaN,mumbai,maharashtra,Retail,E13490,NaN,NaN,MH04BY3340,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,29,144012,TOYOTA,QUALIS,Accidental,2849.90,0.00,0.00,8414.05,11263.95,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,2
38,483866,NaN,pune,maharashtra,Retail,E24492,NaN,NaN,MH12AV7172,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,3,186142,FIAT,ADVENTURE,Paid Service,599.03,550.02,0.00,2910.00,4059.05,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,8
39,490712,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9486,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,449,88145,MAHINDRA & MAHINDRA,LOGAN D,Running Repairs,17050.00,0.00,0.00,221215.62,238265.62,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,6,8
40,486651,NaN,nashik,maharashtra,Retail,E27255,NaN,NaN,MH15BN3914,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,44184,GENERAL MOTORS,AVEO,Paid Service,2321.70,0.00,0.00,1020.70,3342.40,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,1
41,486511,NaN,hyderabad,andhra pradesh,Retail,E27151,NaN,NaN,AP9BD8296,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,5,43247,FORD,IKON,Paid Service,2490.00,0.00,0.00,24555.99,27045.99,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,2
42,486648,NaN,hyderabad,andhra pradesh,Retail,E27252,NaN,NaN,AP28AN7390,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,35637,HYUNDAI,SANTRO,Paid Service,899.09,0.00,0.00,1047.86,1946.95,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,2
43,486623,NaN,pune,maharashtra,Retail,E27225,NaN,NaN,MH12BV5434,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,4,189773,MAHINDRA & MAHINDRA,SCORPIO CRDE,Paid Service,2353.99,0.00,0.00,4882.70,7236.69,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,2
44,484200,NaN,nashik,maharashtra,Retail,E24866,NaN,NaN,MH04BH6546,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,37,101508,MARUTI SUZUKI,WAGONR,Paid Service,6850.79,0.00,0.00,6106.44,12957.23,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,1
45,488356,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH03F9574,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,6,191383,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,3455.92,100.00,2399.95,11042.62,16998.49,BC01,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,3,2668
46,481666,NaN,chennai,tamil nadu,Retail,E22238,NaN,NaN,TN07BY0531,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,26,1,MAHINDRA & MAHINDRA,BOLERO,Accidental,19999.92,0.00,0.00,37944.17,57944.09,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,1,25
47,486268,NaN,mumbai,maharashtra,Retail,E27029,NaN,NaN,MH12GR2992,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,4,26125,FIAT,PALIO,Accidental,8555.32,0.00,0.00,3377.74,11933.06,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,1
48,484721,NaN,hyderabad,andhra pradesh,Retail,E25342,NaN,NaN,AP9AV4185,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,5,80417,MAHINDRA & MAHINDRA,SCORPIO CRDE,Running Repairs,1980.06,0.00,10920.33,1394.92,14295.31,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,3
49,486650,NaN,hyderabad,andhra pradesh,Retail,E27253,NaN,NaN,AP10AK1045,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,59514,TATA MOTORS,INDICA,Paid Service,598.96,0.00,0.00,1465.49,2064.45,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,1
50,485660,NaN,pune,maharashtra,Retail,E26558,NaN,NaN,MH12BR0006,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,3,1443357,TATA MOTORS,SAFARI,Running Repairs,4180.08,0.00,750.01,16160.50,21090.59,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,1
51,486535,NaN,mumbai,maharashtra,Retail,E27173,NaN,NaN,MH04AS2130,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,390,1,TOYOTA,QUALIS,Accidental,27900.01,500.00,0.00,84929.23,113329.24,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,2
52,486235,NaN,hyderabad,andhra pradesh,Retail,E27010,NaN,NaN,TN09AF3310,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,14904,MARUTI SUZUKI,OMNI,Paid Service,1709.92,799.97,699.97,2321.60,5531.46,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,3
53,472771,NaN,chennai,tamil nadu,Retail,E1105,NaN,NaN,TN09AW7101,TN,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,62402,MAHINDRA & MAHINDRA,SCORPIO NEF,Paid Service,800.28,0.00,0.00,91.57,891.85,BC06,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,1,14
54,475869,NaN,nashik,maharashtra,Retail,E13634,NaN,NaN,MH15BX6166,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,74759,MARUTI SUZUKI,SWIFT,Accidental,1850.28,0.00,0.00,229.91,2080.19,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,1
55,490299,NaN,hyderabad,andhra pradesh,Retail,E8670,NaN,NaN,AP09AY7824,AP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,10,65152,TATA MOTORS,INDIGO,Paid Service,599.95,0.00,0.00,3345.72,3945.67,BC04,South,"49,577,103[b]",0.0410,0.11,34966693,0.7053,14610410,0.2947,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,1,1
56,1,NaN,pune,maharashtra,Retail,1,NaN,NaN,SPTOOLS,SP,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,38,1212,MARUTI SUZUKI,KIZASHI,Paid Service,0.00,0.00,0.00,0.00,0.00,BC02,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,4
57,482223,NaN,nashik,maharashtra,Retail,E22724,NaN,NaN,MH15BN7176,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,5,139257,MARUTI SUZUKI,SWIFT,Accidental,8529.94,0.00,0.00,390.83,8920.77,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,11
58,491055,NaN,mumbai,maharashtra,Fleets,MFCC024,NaN,NaN,MH04DE9733,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,108,69274,MAHINDRA & MAHINDRA,LOGAN D,Running Repairs,439.98,0.00,0.00,5922.30,6362.28,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,2

In [131]:
#for index,row in srt_cust_data.iterrows():
#    srt_cust_data.ix[index,"Cust Visit Count"]=srt_cust_data[:index][srt_cust_data[:index]["Customer No."]==srt_cust_data.iloc[index]["Customer No."]]["Customer No."].count()+1

KeyboardInterrupt:

In [133]:
srt_cust_data.to_csv("sorted_custom_data.csv")

In [132]:
srt_cust_data

,index,Area / Locality,CITY,District,Cust Type,Customer No.,Marital Status,Occupation,Regn No,REG_INIT,Date,mmm-yyyy,FY-Quarter,Quarter,FY,YTD,Year,Date_order,Days,KMs Reading,Make,Model,Order Type,Labour Total,Misc Total,OSL Total,Parts Total,Total Amt Wtd Tax.,Plant,Zone,Population,National Share (%),Decadal growth (2001–2012),Rural population,Percent rural,Urban population,Percent urban,Area,Density,Sex ratio,Cust Visit Count,Total Visits
0,487949,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH01JA5003,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,20,166696,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,2450.40,100.0,4839.96,16061.47,23451.83,BC01,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,1,2668
1,486477,NaN,nashik,maharashtra,Retail,E27136,NaN,NaN,MH04BK0425,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,80944,MARUTI SUZUKI,WAGONR,Paid Service,4296.94,0.0,0.00,14461.26,18758.20,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,1
2,490710,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9472,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,449,69005,MAHINDRA & MAHINDRA,NaN,Running Repairs,719.99,0.0,0.00,4099.55,4819.54,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,8
3,486601,NaN,nashik,maharashtra,Retail,E27216,NaN,NaN,MH01MA6562,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,6,95062,TATA MOTORS,INDICA,Paid Service,2303.02,0.0,0.00,6802.95,9105.97,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,9
4,485973,NaN,nashik,maharashtra,Retail,E26813,NaN,NaN,MH15AS5473,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,24,76088,MITSUBISHI MOTORS,LANCER,Paid Service,8840.01,500.0,0.00,37884.75,47224.76,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492309,451667,DESHBANDHU PARA,jalpaiguri,west bengal,Retail,241201,NaN,NaN,WB72J2874,WB,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,36123,MARUTI SUZUKI,ERTIGA,Running Repairs,0.00,0.0,0.00,0.00,0.00,X277,East,91276115,0.0754,0.138,62183113,0.6813,29093002,0.3187,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953,0,2
492310,434013,VELLIVLAGAM,viricodu,tamil nadu,Retail,226229,NaN,NaN,TN23AD1463,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,59752,MARUTI SUZUKI,ZEN ESTILO,Running Repairs,434.74,0.0,0.00,0.00,434.74,X048,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0,2
492311,472462,FLAT NO-408,kankarbagh,bihar,Retail,261861,NaN,NaN,BR01BU0007,BR,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,80110,MAHINDRA & MAHINDRA,XUV 500,Running Repairs,1351.12,0.0,0.00,1987.17,3338.29,X188,East,104099452,0.0860,0.254,92341436,0.8871,11758016,0.1129,"94,163 km2 (36,357 sq mi)","1,102/km2 (2,850/sq mi)",918,0,1
492312,472459,P.N ROAD,tirupur,tamil nadu,Retail,261855,NaN,NaN,TN45AL0492,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,65215,MARUTI SUZUKI,ALTO,Running Repairs,458.05,0.0,0.00,1552.20,2010.25,X023,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0,1
492313,244373,ALLIKOTTAI,salem,tamil nadu,Retail,106657,NaN,NaN,TN30AR0124,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,44789,TATA MOTORS,VISTA,Accidental,5000.00,0.0,0.00,0.00,5000.00,X021,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0,12

In [107]:
srt_cust_data.iloc[0]["Cust Visit Count"] = 1

In [117]:
srt_cust_data.iloc[0].loc["Cust Visit Count"]=1

In [119]:
srt_cust_data.iloc[0]["Cust Visit Count"]

0

In [128]:
srt_cust_data.ix[0,"Cust Visit Count"]=1

In [124]:
srt_cust_data.set_value(1,"Cust Visit Count",1)

,index,Area / Locality,CITY,District,Cust Type,Customer No.,Marital Status,Occupation,Regn No,REG_INIT,Date,mmm-yyyy,FY-Quarter,Quarter,FY,YTD,Year,Date_order,Days,KMs Reading,Make,Model,Order Type,Labour Total,Misc Total,OSL Total,Parts Total,Total Amt Wtd Tax.,Plant,Zone,Population,National Share (%),Decadal growth (2001–2012),Rural population,Percent rural,Urban population,Percent urban,Area,Density,Sex ratio,Cust Visit Count,Total Visits
0,487949,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH01JA5003,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,20,166696,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,2450.40,100.0,4839.96,16061.47,23451.83,BC01,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,1,2668
1,486477,NaN,nashik,maharashtra,Retail,E27136,NaN,NaN,MH04BK0425,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,80944,MARUTI SUZUKI,WAGONR,Paid Service,4296.94,0.0,0.00,14461.26,18758.20,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,1
2,490710,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9472,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,449,69005,MAHINDRA & MAHINDRA,NaN,Running Repairs,719.99,0.0,0.00,4099.55,4819.54,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0,8
3,486601,NaN,nashik,maharashtra,Retail,E27216,NaN,NaN,MH01MA6562,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,6,95062,TATA MOTORS,INDICA,Paid Service,2303.02,0.0,0.00,6802.95,9105.97,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0,9
4,485973,NaN,nashik,maharashtra,Retail,E26813,NaN,NaN,MH15AS5473,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,24,76088,MITSUBISHI MOTORS,LANCER,Paid Service,8840.01,500.0,0.00,37884.75,47224.76,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492309,451667,DESHBANDHU PARA,jalpaiguri,west bengal,Retail,241201,NaN,NaN,WB72J2874,WB,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,36123,MARUTI SUZUKI,ERTIGA,Running Repairs,0.00,0.0,0.00,0.00,0.00,X277,East,91276115,0.0754,0.138,62183113,0.6813,29093002,0.3187,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953,0,2
492310,434013,VELLIVLAGAM,viricodu,tamil nadu,Retail,226229,NaN,NaN,TN23AD1463,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,59752,MARUTI SUZUKI,ZEN ESTILO,Running Repairs,434.74,0.0,0.00,0.00,434.74,X048,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0,2
492311,472462,FLAT NO-408,kankarbagh,bihar,Retail,261861,NaN,NaN,BR01BU0007,BR,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,80110,MAHINDRA & MAHINDRA,XUV 500,Running Repairs,1351.12,0.0,0.00,1987.17,3338.29,X188,East,104099452,0.0860,0.254,92341436,0.8871,11758016,0.1129,"94,163 km2 (36,357 sq mi)","1,102/km2 (2,850/sq mi)",918,0,1
492312,472459,P.N ROAD,tirupur,tamil nadu,Retail,261855,NaN,NaN,TN45AL0492,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,65215,MARUTI SUZUKI,ALTO,Running Repairs,458.05,0.0,0.00,1552.20,2010.25,X023,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0,1
492313,244373,ALLIKOTTAI,salem,tamil nadu,Retail,106657,NaN,NaN,TN30AR0124,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,44789,TATA MOTORS,VISTA,Accidental,5000.00,0.0,0.00,0.00,5000.00,X021,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0,12

In [125]:
srt_cust_data

,index,Area / Locality,CITY,District,Cust Type,Customer No.,Marital Status,Occupation,Regn No,REG_INIT,Date,mmm-yyyy,FY-Quarter,Quarter,FY,YTD,Year,Date_order,Days,KMs Reading,Make,Model,Order Type,Labour Total,Misc Total,OSL Total,Parts Total,Total Amt Wtd Tax.,Plant,Zone,Population,National Share (%),Decadal growth (2001–2012),Rural population,Percent rural,Urban population,Percent urban,Area,Density,Sex ratio,Cust Visit Count,Total Visits
0,487949,NaN,guindy,tamil nadu,Retail,E4981,NaN,NaN,MH01JA5003,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,20,166696,MAHINDRA & MAHINDRA,LOGAN P,Running Repairs,2450.40,100.0,4839.96,16061.47,23451.83,BC01,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,1,2668
1,486477,NaN,nashik,maharashtra,Retail,E27136,NaN,NaN,MH04BK0425,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,2,80944,MARUTI SUZUKI,WAGONR,Paid Service,4296.94,0.0,0.00,14461.26,18758.20,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,1,1
2,490710,NaN,mumbai,maharashtra,Fleets,EMA131,NaN,NaN,MH04DE9472,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,449,69005,MAHINDRA & MAHINDRA,NaN,Running Repairs,719.99,0.0,0.00,4099.55,4819.54,BC11,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0,8
3,486601,NaN,nashik,maharashtra,Retail,E27216,NaN,NaN,MH01MA6562,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,6,95062,TATA MOTORS,INDICA,Paid Service,2303.02,0.0,0.00,6802.95,9105.97,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0,9
4,485973,NaN,nashik,maharashtra,Retail,E26813,NaN,NaN,MH15AS5473,MH,2012-04-01,Apr-2012,2012-13 Q1,1,2012-13,F12_YTD,2012,1,24,76088,MITSUBISHI MOTORS,LANCER,Paid Service,8840.01,500.0,0.00,37884.75,47224.76,BC03,West,112374333,0.0928,0.2,61556074,0.5478,50818259,0.4522,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492309,451667,DESHBANDHU PARA,jalpaiguri,west bengal,Retail,241201,NaN,NaN,WB72J2874,WB,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,36123,MARUTI SUZUKI,ERTIGA,Running Repairs,0.00,0.0,0.00,0.00,0.00,X277,East,91276115,0.0754,0.138,62183113,0.6813,29093002,0.3187,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953,0,2
492310,434013,VELLIVLAGAM,viricodu,tamil nadu,Retail,226229,NaN,NaN,TN23AD1463,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,59752,MARUTI SUZUKI,ZEN ESTILO,Running Repairs,434.74,0.0,0.00,0.00,434.74,X048,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0,2
492311,472462,FLAT NO-408,kankarbagh,bihar,Retail,261861,NaN,NaN,BR01BU0007,BR,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,80110,MAHINDRA & MAHINDRA,XUV 500,Running Repairs,1351.12,0.0,0.00,1987.17,3338.29,X188,East,104099452,0.0860,0.254,92341436,0.8871,11758016,0.1129,"94,163 km2 (36,357 sq mi)","1,102/km2 (2,850/sq mi)",918,0,1
492312,472459,P.N ROAD,tirupur,tamil nadu,Retail,261855,NaN,NaN,TN45AL0492,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,65215,MARUTI SUZUKI,ALTO,Running Repairs,458.05,0.0,0.00,1552.20,2010.25,X023,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0,1
492313,244373,ALLIKOTTAI,salem,tamil nadu,Retail,106657,NaN,NaN,TN30AR0124,TN,2016-10-31,Oct-2016,2016-17 Q3,3,2016-17,F16_YTD,2016,55,0,44789,TATA MOTORS,VISTA,Accidental,5000.00,0.0,0.00,0.00,5000.00,X021,South,72147030,0.0596,0.156,37229590,0.5160,34917440,0.4840,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996,0,12

In [ ]:
#for index,row in srt_cust_data.iterrows():
#    srt_cust_data.ix[index,"Cust Visit Count"]=srt_cust_data[:index][srt_cust_data[:index]["Customer No."]==srt_cust_data.iloc[index]["Customer No."]]["Customer No."].count()+1

In [ ]:
#loop to calculate customer visits
counter=0

for index,row in srt_cust_data[215454:][srt_cust_data["Total Visits"]!=1].iterrows():
    counter=counter+1
    if(counter%1000 ==0):
        print(counter,row["Unnamed: 0"])
    srt_cust_data.ix[row["Unnamed: 0"],"Cust Visit Count"]=srt_cust_data[:row["Unnamed: 0"]][srt_cust_data[:row["Unnamed: 0"]]["Customer No."]==srt_cust_data.iloc[row["Unnamed: 0"]]["Customer No."]]["Customer No."].count()+1

In [ ]:
#srt_cust_data.to_csv("sorted_custom_data3.csv")